<h2>Add Post</h2>
<div class="card card-body mb-3">

  <form>
    <!--The Journey of currentPost see story below:-->
    <div class="form-group">
      <label>Title</label>
      <input [(ngModel)]="currentPost.title" type="text" class="form-control" name="title" #title>
    </div>

    <div class="form-group">
      <label>Body</label>
      <input [(ngModel)]="currentPost.body" type="text" class="form-control" name="body" #body>
    </div>
    <input type="hidden" [(ngModel)]="currentPost.id" name="id">

    <button *ngIf="!isEdit" 
    (click)="addPost(title.value, body.value)" 
    class="btn btn-dark btn-block">Add Post</button>
   
    <button *ngIf="isEdit" 
    (click)="updatePost(title.value, body.value)" 
    class="btn btn-warning btn-block">Update Post</button>


  </form>

</div>

<!--The journey of currentPost ends here but began in:
1. a button with a pencil in form.component.html that calls editPost(ngIfpost)
2. editPost initiates the currentPost field with it's post value, before this it was a default blank.
3. The currentPost field is [] bound to the app-post-form tag which resides within the posts.component.html.
3a. But it is not recognised, it is NOT a field from the post-form.component, it originates from our post.component.
3b. To be recognised it must be given a special annotation within  the post-form.component:
3c.    @Input() currentPost: Post; turns it into a 'guest' field and now it is recognised within post-form.component and errors disappear.
4. And finally currentPost can be used with two-way binding in the context above, allowing its default blank values to be shown until
a user clicks on a post to edit it. INTENSE!
-->
