<button (click)="showUserForm = !showUserForm" class="btn btn-dark mb-3">Add User</button>
<div class="card card-body" *ngIf="showUserForm">
  <h2>Add User</h2>
  <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">


    <!--required and minlength == .errors that can occur in this form-group-->
    <div class="form-group">
      <label>First Name</label>
      <input type="text" [(ngModel)]="user.firstName"
        [ngClass]="{'is-invalid' :userFirstName.errors && userFirstName.touched}" name="firstName" class="form-control"
        #userFirstName="ngModel" required minlength="2">
      <!--!userFirstName.errors? means !noerrors! or ?null? so hidden is bound to required-"but it's not there!"-SHOW-INVALID-FEEDBACK-->
      <div [hidden]="!userFirstName.errors?.required" class="invalid-feedback">First name required</div>
      <div [hidden]="!userFirstName.errors?.minlength" class="invalid-feedback">Must be at least 2 characters</div>
    </div>

    <div class="form-group">
      <label>Last Name</label>
      <input type="text" [(ngModel)]="user.lastName"
        [ngClass]="{'is-invalid' :userLastName.errors && userLastName.touched}" name="lastName" class="form-control"
        #userLastName="ngModel" required minlength="2">
      <div [hidden]="!userLastName.errors?.required" class="invalid-feedback">Last name required</div>
      <div [hidden]="!userLastName.errors?.minlength" class="invalid-feedback">Must be at least 2 characters</div>
    </div>

    <div class="form-group">
      <label>Email</label>
      <input type="email" [(ngModel)]="user.email" [ngClass]="{'is-invalid' :userEmail.errors && userEmail.touched}"
        name="email" class="form-control" #userEmail="ngModel" required
        pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?">
      <div [hidden]="!userEmail.errors?.required" class="invalid-feedback">Email required</div>
      <div [hidden]="!userEmail.errors?.pattern" class="invalid-feedback">Email is not valid</div>
    </div>


    <button [disabled]="!userForm.form.valid" class="btn btn-block mb-3">Add
      New User
    </button>
  </form>
</div>
<ul class="list-unstyled" *ngIf="loaded && users?.length > 0 ">
  <li class="card card-body mb-2" [class.bg-light]="user.isActive" *ngFor="let user of users">
    <h3>{{ user.firstName}} {{ user.lastName }}
      <small><button (click)="user.hide = !user.hide" class="btn btn-success btn-sm"><i
            [ngClass]="user.hide ? 'fa fa-plus': 'fa fa-minus'">
          </i></button></small>
    </h3>
    <ul class="list-group" *ngIf="!user.hide">
      <li class="list-group-item">Email: {{ user.email }}</li>
      <li class="list-group-item">Joined: {{ user.registered | date:"longDate"}}</li>
    </ul>
  </li>
</ul>

<h4 *ngIf="users?.length == 0">No Users Found</h4>
<h4 *ngIf="!loaded">Loading Users.... (spinner gif)</h4>
