<app-post-form [isEdit]="isEdit" [currentPost]="currentPost"
(newPost)="onNewPost($event)"  (updatedPost)="onUpdatedPost($event)"></app-post-form>
<h2>Posts</h2>
<div class="card" *ngFor="let post of posts">
  <div class="card-body">
    <h3><a routerLink="/post-detail/{{post.id}}">{{ post.title }}</a></h3>
    <p>{{ post.body }}</p>
    <hr>
    <button (click)="removePost(post)" class="btn btn-danger">
      <i class="fa fa-trash-o"></i></button>
    <button (click)="editPost(post)" class="btn btn-success">
      <i class="fa fa-eraser"></i></button>
  </div>
</div>
